@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207,26%,17%);
  --dark-mode-text:hsl(0, 0%, 100%);
  --light-mode-text:hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-elements: hsl(0, 0%, 100%);

}


@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
  }

  .bgMain{
    @apply bg-main-light dark:bg-main-dark;
  }

  .bgElement {
    @apply bg-elements-light dark:bg-elements-dark
  }
  
}


