.Ap {

    display: flex;
    font-family: sans-serif;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .pagination {
    list-style: none;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .active {
    background-color: #1e50ff;
    border-radius: 50%;
    color: aliceblue;
    pointer-events: none;
  }

  
  
  .page-item {
    list-style: none;
    padding: 2px 12px;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  