.Ap {

    display: flex;
    font-family: sans-serif;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .pagination {
    list-style: none;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    @apply text-main-light dark:text-main-dark;
    
  }
  
  .active {
    /* background-color: #1e50ff; */
    @apply bg-elements-dark dark:bg-elements-light;
    @apply text-main-dark dark:text-main-light;
    border-radius: 50%;
    
    pointer-events: none;
  }

  
  
  .page-item {
    list-style: none;
    padding: 2px 12px;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    
    
  }
  